<%@ Control Language="C#" CodeBehind="EmailAddress.ascx.cs" Inherits="ComisionesWeb.EmailAddressField" %>

<asp:HyperLink ID="HyperLink1" runat="server" Text="<%# FieldValueString %>" Target="_blank" />

